{% extends 'base/base.html' %}
{% load static %}

{% block title %}
List all targets
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<script src="{% static 'plugins/sweetalerts/promise-polyfill.js' %}"></script>
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/trangWeb/list.css' %}" rel="stylesheet" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
List all Target for Recon
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="container-fluid">
    <div class="row layout-spacing">
        <div class="col-sm-4" ></div>
        <div class="col-sm-4" >
            <form id="search-key-word" method="post">
                {% csrf_token %}
                <input id="key-word" type="search" class="baibao-search-bar form-control" placeholder="Search...">
            </form>
        </div>
    </div>
    
    <div class="row" id="show-bai-bao">
        <div class="col-sm widget box box-shadow" style="background-color: white; margin-left: 20px; margin-right: 10px; margin-bottom: 30px;">
            <div class="slide-wrapper" style="color:black;" >
                {% csrf_token %}
                <div id="danh-sach-bai-bao">
                    {% for item in bai_bao %}
                    <div class="slide" id='{{item.link_bai_bao}}'>
                        <div style="color:black;font-weight: bold;" onclick="xem_bai('{{item.link_bai_bao}}')">{{forloop.counter}}. ({% load tz %}{% localtime on %}{{item.ngay_them}}{% endlocaltime %}) {{item.tieu_de}}</div>
                        <a style="color:blue;" href='{{item.link_bai_bao}}' target="_blank">{{item.link_bai_bao}}</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div id="style-2_info" >Showing {{tu_bai}} to {{den_bai}} of {{so_bai_bao}} entries
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="Page navigation example" id="pagging">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active" ><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm widget box box-shadow" style="background-color: white; margin-left: 10px; margin-right: 20px; margin-bottom: 30px;">
            <div class="slide-wrapper" style="color:black;" id="bai-bao-detail">
                <h3 style="color:black;" id='tieu_de_bai_bao'></h3>
                <div style="color:black;" id="noi_dung_bai_bao"></div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'custom/custom.js' %}"></script>
<script src="{% static 'targetApp/js/custom_domain.js' %}"></script>
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script>
// var e;
table = $('#style-2').DataTable({
    "oLanguage": {
        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
        "sInfo": "Showing page _PAGE_ of _PAGES_",
    },
});
multiCheck(table);
// Handle form submission event



function highlight_tu_khoa(){
    if(document.getElementById("key-word").value.match(/\w+/)){
        var key_word_list = document.getElementById("key-word").value.split(/[\|,\&]+/);
        for(var i =0; i< key_word_list.length; i++){
            
            if(key_word_list[i].substring(0,1)==' '){
                key_word_list[i] = key_word_list[i].substr(1);
            }
            if(key_word_list[i].substr(key_word_list[i].length - 1) ==' '){
                key_word_list[i] = key_word_list[i].substring(0, key_word_list[i].length -1);
            }
            var t = $("#show-bai-bao").html();
            var regex =  new RegExp(key_word_list[i],'g'); 
            t = t.replace(regex, "<span class='highlight' style='background-color: limegreen;'>"+key_word_list[i]+"</span>");
            $("#show-bai-bao").html(t);
        }
    }
}

function xem_bai(link_bai_bao){
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $.ajax({
        url: '/trangWeb/load-noi-dung/',
        headers: {'X-CSRFToken': csrftoken},
        type: 'POST',
        data: 'link=' + link_bai_bao,
        success: function (data) {
            document.getElementById("tieu_de_bai_bao").innerHTML=data.context.tieu_de;
            document.getElementById("noi_dung_bai_bao").innerText=data.context.noi_dung;
            highlight_tu_khoa();
        },
        error: function (e) {
            console.log(e.message);
        }
    });
}
$('#search-key-word').on('submit',function(e) {
    var form = this;
    var data = (document.getElementById("key-word").value)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $.ajax({
        url: '/trangWeb/search-bai-bao/',
        headers: {'X-CSRFToken': csrftoken},
        type: 'POST',
        data: {'keyWord' : data,
            'page': '1'},
        success: function (data) {
            
            document.getElementById("style-2_info").innerHTML = "Showing "+data.context.tu_bai+" to "+data.context.den_bai+" of "+data.context.so_bai+" entries";
            var newHtml = '';
            for(var i =0; i< data.context.tieu_de.length;i++){
                newHtml += '<div class="slide" id='+data.context.link[i]+'><div style="color:black;font-weight: bold;" onclick="xem_bai(\''+data.context.link[i]+'\')">'+parseInt(parseInt(i)+parseInt(1))+'. (April 25, 2021, 11:53 p.m.) '+data.context.tieu_de[i]+'</div><a style="color:blue;" href='+data.context.link[i]+' target="_blank">'+data.context.link[i]+'</a></div>';
            }
            document.getElementById("danh-sach-bai-bao").innerHTML=newHtml;
            if(parseInt(data.context.so_page)<3){
                var newPagging = '<ul class="pagination justify-content-end"><li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li><li class="page-item active" ><a class="page-link" href="#">1</a></li>';
                for(i =1;i<parseInt(data.context.so_page);i++){
                    newPagging += '<li class="page-item"><a class="page-link" href="#">'+parseInt(parseInt(i)+parseInt(1))+'</a></li>';
                }
                newPagging += '<li class="page-item"> <a class="page-link" href="#">Next</a></li></ul>';
                document.getElementById("pagging").innerHTML = newPagging;      
            }
            highlight_tu_khoa();

            e.preventDefault();
        },
        error: function (e) {
            console.log(e.message);
        }
    });

    highlight_tu_khoa();
    e.preventDefault();

});

</script>
{% endblock page_level_script %}
