{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add target for crawler
{% endblock title %}


{% block custom_js_css_link %}
<link href="{% static 'assets/dashboard/css/black-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'assets/dashboard/demo/demo.css' %}" rel="stylesheet" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Add target for crawler
{% endblock breadcrumb_title %}

{% block main_content %}
    {% include 'trangWeb/_items/domain_form.html' with button_title="Save" widget_title="Add Target" form_action="add" %}
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script type="text/javascript">
    // apex charts for vulnerability summary
    function change_label_color(){
        var label_tab = document.getElementsByTagName("label");
        for (i = 0; i < label_tab.length; i++) {
            label_tab[i].style.color = "black";
            }
    }
    change_label_color()
</script>
{% endblock page_level_script %}
