{% load static %}
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <a href="{% url 'dashboardIndex' %}" aria-expanded="false" class="dropdown-toggle" data-active="{{dashboard_data_active}}">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <span> Dashboard</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <li class="menu">
                    <a href="{% url 'trangWebIndex' %}" aria-expanded="false" class="dropdown-toggle" data-active="{{trangWeb_data_active}}">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                            <span> Trang Web</span>
                        </div>
                    </a>
                </li>
            </li>

            <li class="menu">
                <a href="#" class="dropdown-toggle" data-active="{{trangWeb_data_active}}">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crosshair"><circle cx="12" cy="12" r="10"></circle><line x1="22" y1="12" x2="18" y2="12"></line><line x1="6" y1="12" x2="2" y2="12"></line><line x1="12" y1="6" x2="12" y2="2"></line><line x1="12" y1="22" x2="12" y2="18"></line></svg>
                        <span>Trang Web</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" id="app" data-parent="#accordionExample" style="">
                    <li class="{{ them_trang_web }}">
                        <a href="{% url 'them_trang_web_form' %}"> Thêm Trang Web </a>
                    </li>
                </ul>
                <ul class="submenu list-unstyled collapse show" id="app" data-parent="#accordionExample" style="">
                    <li class="{{ danh_sach_trang_web }}">
                        <a href="{% url 'danh_sach_trang_web' %}"> Danh Sach Trang Web </a>
                    </li>
                </ul>
            </li>

        </ul>

    </nav>

</div>
